body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container{
  display: flex;
}

.flex-item{
    flex-grow: 1;
}

.convList {
  width: 40vw;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: grey;
  height: 100vh;
}

.listTimeStamp {
  float: right;
  font-size: 14px;
}

.numberCircle {
    border-radius: 50%;

    width: 10px;
    height: 10px;
    padding: 2px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 14px Arial, sans-serif;
}

.test {
  padding-left: 40vw
}
